.start-bar, .playback-bar, .end-bar {
	-fx-stroke-width: 2;
}

.start-bar, .playback-bar {
	-fx-stroke: crimson;
}

.end-bar {
	-fx-stroke: cornflowerblue;
}

.track-cell.white-key {
    -fx-background-color: lightgray, white;
    -fx-background-insets: 0, 0 1 1 0;
}

.track-cell.black-key {
	-fx-background-color: lightgray, whitesmoke;
	-fx-background-insets: 0, 0 1 1 0;
}

.track-cell.white-key.measure-start {
	-fx-background-color: lightskyblue, lightgray, white;
	-fx-background-insets: 0, 0 0 0 1, 0 1 1 1;
}

.track-cell.white-key.measure-end {
	-fx-background-color: lightskyblue, lightgray, white;
	-fx-background-insets: 0, 0 1 0 0, 0 1 1 0;
}

.track-cell.black-key.measure-start {
	-fx-background-color: lightskyblue, lightgray, whitesmoke;
	-fx-background-insets: 0, 0 0 0 1, 0 1 1 1;
}

.track-cell.black-key.measure-end {
	-fx-background-color: lightskyblue, lightgray, whitesmoke;
	-fx-background-insets: 0, 0 1 0 0, 0 1 1 0;
}

.track-note.valid.not-highlighted {
    -fx-fill: skyblue;
    -fx-stroke: dodgerblue;
}

.track-note.valid.highlighted {
    -fx-fill: azure;
    -fx-stroke: skyblue;
}

.track-note.invalid.not-highlighted {
    -fx-fill: gray;
    -fx-stroke: darkslategray;
}

.track-note.invalid.highlighted {
    -fx-fill: lightgray;
    -fx-stroke: silver;
}

.note-overlap {
	-fx-fill: gray;
	-fx-stroke: transparent;
}

.table-row-cell {
	-fx-table-cell-border-color: gainsboro;
}

.table-row-cell:selected {
	-fx-background-color: gainsboro, lightgray;
	-fx-background-insets: 0, 0 0 1 0;
}

.table-view:focused .table-row-cell:selected .table-cell {
	-fx-background-color: gainsboro, azure;
	-fx-background-insets: 0, 0 0 1 0;
	-fx-text-fill: black;
}

.piano-black-key {
	-fx-background-color: black;
}

.piano-black-key > Label {
	-fx-text-fill: white;
}

.piano-white-key {
	-fx-background-color: black, white;
	-fx-background-insets: 0, 0 0 1 0 ;
}

.piano-no-border {
	-fx-background-color: white;
}

.dynamics-top-cell {
	-fx-background-color: darkgray, black;
	-fx-background-insets: 0, 0 1 1 0;
}

.dynamics-top-cell.measure-start {
	-fx-background-color: darkgray, black;
	-fx-background-insets: 0, 0 1 1 1;
}

.dynamics-bottom-cell {
	-fx-background-color: darkgray, black;
	-fx-background-insets: 0, 0 1 0 0;
}

.dynamics-bottom-cell.measure-start {
	-fx-background-color: darkgray, black;
	-fx-background-insets: 0, 0 1 0 1;
}
