.status-bar {
	-fx-background-color: lightgray, whitesmoke;
    -fx-background-insets: 0, 1 0 0 1;
}

.start-bar, .playback-bar, .end-bar {
	-fx-stroke-width: 2;
}

.start-bar, .playback-bar {
	-fx-stroke: crimson;
}

.end-bar {
	-fx-stroke: cornflowerblue;
}

.add-note-box {
	-fx-fill: transparent;
	-fx-stroke: cornflowerblue;
	-fx-stroke-width: 3;
}

.select-box {
	-fx-fill: transparent;
	-fx-stroke: crimson;
	-fx-stroke-width: 2;
}

.track-cell.white-key {
    -fx-background-color: lightgray, white;
    -fx-background-insets: 0, 0 1 1 0;
}

.track-cell.black-key {
	-fx-background-color: lightgray, whitesmoke;
	-fx-background-insets: 0, 0 1 1 0;
}

.track-cell.white-key.measure-start {
	-fx-background-color: lightskyblue, lightgray, white;
	-fx-background-insets: 0, 0 0 0 1, 0 1 1 1;
}

.track-cell.white-key.measure-end {
	-fx-background-color: lightskyblue, lightgray, white;
	-fx-background-insets: 0, 0 1 0 0, 0 1 1 0;
}

.track-cell.black-key.measure-start {
	-fx-background-color: lightskyblue, lightgray, whitesmoke;
	-fx-background-insets: 0, 0 0 0 1, 0 1 1 1;
}

.track-cell.black-key.measure-end {
	-fx-background-color: lightskyblue, lightgray, whitesmoke;
	-fx-background-insets: 0, 0 1 0 0, 0 1 1 0;
}

.track-note.valid.not-highlighted {
    -fx-fill: skyblue;
    -fx-stroke: dodgerblue;
}

.track-note.valid.highlighted {
    -fx-fill: azure;
    -fx-stroke: skyblue;
}

.track-note.invalid {
    -fx-fill: gray;
    -fx-stroke: darkslategray;
}

.note-overlap {
	-fx-fill: gray;
	-fx-stroke: transparent;
}

.table-row-cell {
	-fx-table-cell-border-color: gainsboro;
}

.table-row-cell:selected {
	-fx-background-color: skyblue, azure;
	-fx-background-insets: 0, 1 0 1 0;
}

.table-cell {
	-fx-text-fill: black;
}

.frq-cell {
	-fx-background-insets: 0, 1 0 1 0;
	-fx-alignment: center;
}

.frq-cell.valid {
	-fx-background-color: transparent, #92ff77;
}

.frq-cell.invalid {
	-fx-background-color: transparent, #ff9d89;
}

.frq-cell.loading {
	-fx-background-color: transparent, #ffda7c;
}

.background.offset, .background.cutoff {
	-fx-background-color: gainsboro;
}

.background.consonant {
	-fx-background-color: azure;
}

.background.vowel {
	-fx-background-color: white;
}

.chart, .chart-content, .chart-plot-background {
	-fx-background-color: transparent;
	-fx-padding: 0px;
}

.chart-series-line {    
    -fx-stroke-width: 1px;
    -fx-effect: null;
}
 
.default-color0.chart-series-line {
	-fx-stroke: royalblue;
}

.default-color1.chart-series-line {
	-fx-stroke: crimson;
}

.offset, .cutoff {
	-fx-stroke: darkgray;
	-fx-text-fill: dimgray;
	-fx-stroke-width: 2;
}

.consonant {
	-fx-stroke: skyblue;
	-fx-text-fill: deepskyblue;
	-fx-stroke-width: 2;
}

.preutterance, .overlap {
	-fx-stroke-width: 2.5;
}

.preutterance {
	-fx-stroke: goldenrod;
	-fx-text-fill: goldenrod;
}

.overlap {
	-fx-stroke: steelblue;
	-fx-text-fill: steelblue;
}

.offset.selected, .cutoff.selected, .consonant.selected, .preutterance.selected, .overlap.selected {
	-fx-stroke-width: 4px;
}

.piano-black-key {
	-fx-background-color: black;
}

.piano-black-key > Label {
	-fx-text-fill: white;
}

.piano-white-key {
	-fx-background-color: black, white;
	-fx-background-insets: 0, 0 0 1 0 ;
}

.piano-no-border {
	-fx-background-color: white;
}

.dynamics-top-cell {
	-fx-background-color: darkgray, black;
	-fx-background-insets: 0, 0 1 1 0;
}

.dynamics-top-cell.measure-start {
	-fx-background-color: darkgray, black;
	-fx-background-insets: 0, 0 1 1 1;
}

.dynamics-bottom-cell {
	-fx-background-color: darkgray, black;
	-fx-background-insets: 0, 0 1 0 0;
}

.dynamics-bottom-cell.measure-start {
	-fx-background-color: darkgray, black;
	-fx-background-insets: 0, 0 1 0 1;
}
